<style type="text/css">
	font{
		font-family: 'Î¢ÈíÑÅºÚ';
		font-size: 20px;
		color:#686868;
	}
	h{
		font-family: 'Arial';
		font-size: 12px;
		color:#a9a8a8;
		text-align:center;
	}
	.blue{
		color:#22a3d3;
	}
	.p{
		text-indent:2em;
	}
	p{
		font-size:12px;
		color:gray;
		font-family:Arial;
		line-height:2em;
	}
</style>